*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #191e1e;
    text-decoration: none;
    list-style-type: none;
}
header{
    border-bottom: 1px solid #ebf2f2;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}
.spring-logo>img{
    height: 48px;
    max-width: 250px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 705px;

}
.nav-list.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:#191e1e;
    flex-direction: column;
}
.nav-list>li{
    position: relative;
    font-weight: 600;
    cursor: default;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-angle-down{
    font-size: 12px;
    margin-left: 3px;
    display: inline-block;
}
.nav-list>li:first-child{
    padding: 26px 32px 22px 5px;
}
.nav-list>li:not(:first-child){
    padding: 26px 20px;
}
.nav-list>li>a, .nav-list__drop>li>a, .fa-arrow-up-right-from-square{
    transition: .2s;
}
.nav-list>li>a:hover, .nav-list__drop>li>a:hover, .nav-list__drop>li>a:hover>i{
    color: #6db33f;
}
.nav-list>li:hover>.nav-list__drop{
    display: block;
}
.nav-list__drop{
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 0;
    padding: 37px 30px;
    height: auto;
    box-sizing: border-box;
    width: 234px;
    box-shadow:0 5px 30px 0 rgba(108,135,135,.5);
    border-radius: 7px;
    display: none;
}
.nav-list__drop>li{
    font-weight: 400;
}
.nav-list__drop>li:not(:last-child){
    margin-bottom: 10px;
}
/* .nav-list--view-all{
    color: #086dc3;
}
.nav-list--dev-tools{
    text-transform: uppercase;
    font-size: .85rem;
    margin-top: 24px;
} */
/* .fa-arrow-up-right-from-square{
    font-size: 13px;
    margin-left: 3px;
} */

.nav_burger-menu {
    cursor: pointer;
    height: 19px;
    width: 19px;
    display: none;
    overflow: visible;
    position: absolute;
    z-index:2;
    right: 20px;
}
.nav_burger-menu span, .nav_burger-menu span:before, .nav_burger-menu span:after {
    background: #191e1e;
    display: block;
    height: 2.5px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 19px;
}
.nav_burger-menu span:before, .nav_burger-menu span:after {
    content: "";
}
.nav_burger-menu span {
    right: 0px;
    top: 7px;
}
.nav_burger-menu span:before {
    left: 0px;
    top: -7px;
}
.nav_burger-menu span:after {
    left: 0px;
    top: 7px;
}
.nav_burger-menu:hover span, .nav_burger-menu:hover span:before, .nav_burger-menu:hover span:after{
    background: #6db33f;
}
.nav_burger-menu.close{
    position: fixed;
}
.nav_burger-menu.close span, .nav_burger-menu.close span:before, .nav_burger-menu.close span:after{
    background: #ffffff;
}
.nav_burger-menu.close span {
    transform: rotate(-45deg);
    top: 7px;
}
.nav_burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
}
.nav_burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}

main{
    padding-top: 80px;
}
.main__info{
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
}
.main__info>h1{
    font-size: 3.75rem;
    line-height: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-weight: 600;
}
.main__info>p{
    font-size: 1.5rem;
    line-height: 1.7em;
    color: #333;
    padding-right: 125px;
}
.projects-search{
    padding: 20px 0px;
}
.projects-section{
    background-color: #ebf2f2;
    padding: 50px 0;
}
.projects-section>div{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.projects-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 916px;
}
.project-list__item{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    border: 1px solid #d9e9e9;
    border-radius: 5px;
    background-color: #fff;
    width: 48.5%;
    padding: 40px 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
    transition: .2s;
    cursor: pointer;
}
.project-list__item:hover{
    position: relative;
    top: -5px;
    box-shadow:0 10px 20px 0 rgba(108,135,135,.2)
}
.project-list__img{
    max-width: 18.5%;
}
.project-list__img>img{
    height: 60px;
    max-width: 100%;
}
.project-list__description{
    width: 76.5%;
}
.project-list__description>p{
    line-height: 1.7em;
    margin: 12px 0;
}

@media (max-width: 960px){
    .nav-list>li:not(:first-child) {
        padding: 26px 12px;
    }
    .nav-list>li:first-child {
        padding: 26px 20px 22px 5px;
    }
}
@media (max-width: 900px){
    nav{
        padding: 5px 20px;
    }
    .nav-list{
        z-index:1;
        min-width:100%;
        min-height:100%;
        position: fixed;
        top:0;
        right: 0;
        height:0;
        visibility: hidden;
        opacity: 0;
        text-align:center;
        padding-top:20px;
        transition: all 0.3s ease-in-out;
        justify-content: flex-start;
        font-size: 1.6rem;
        width: 100%;        
        flex-direction: column;
        overflow: scroll;
    }
    .nav-list__drop{
        transition: all 0.3s ease-in-out;

    }
    .nav-list>li, .nav-list>li>a{
        color: #fff;
    }
    .nav-list>li:not(:first-child), .nav-list>li:first-child{
        width: 90%;
        text-align: left;
        margin: 0 auto;
        padding: 15px 0px;
        border-bottom: .2px solid #98afae;
    }
    
    .fa-angle-down{
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-list__drop{
        position: relative;
        top: 15px;
        padding: 15px 0px;
        border-radius: 0;
        background-color: rgb(108 135 135 / 0%);
        box-shadow: none;
        border-top: .2px solid #98afae;
    }
    .nav-list__drop>li>a{
        color: #98afae;
        font-size: 1.3rem;
    }
    .nav-list>li:hover>.nav-list__drop{
        display: none;
    }
    .nav_burger-menu{
        display: block;
    }
    .nav-list>li{
        flex-wrap: wrap;
    }
    .nav-list>li.active-drop>.nav-list__drop{
        display: block;
        width: 100%;
        animation: showDrop .3s linear forwards;
    }
    @keyframes showDrop{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .nav-list>li.active-drop>i{
        transform: rotate(180deg);
    }
    .spring-logo>img{
        height: 30px;
        max-width: 250px;
    }
    .main__info>h1 {
        font-size: 3.25rem;
    }
    .main__info>p{
        padding-right: 0;
        font-size: 1.25rem;
    }
}
@media (max-width: 800px){
    .project-list__item{
        width: 100%;
    }
}