*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #191e1e;
    text-decoration: none;
    list-style-type: none;
}
header{
    border-bottom: 1px solid #ebf2f2;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}
.spring-logo>img{
    height: 48px;
    max-width: 250px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 705px;
}
.nav-list>li{
    position: relative;
    font-weight: 600;
    cursor: default;
    width: fit-content;
}
.fa-angle-down{
    font-size: 12px;
    margin-left: 3px;
}
.nav-list>li:first-child{
    padding: 26px 32px 22px 5px;
}
.nav-list>li:not(:first-child){
    padding: 26px 20px;
}
.nav-list>li>a, .nav-list__drop>li>a, .fa-arrow-up-right-from-square{
    transition: .2s;
}
.nav-list>li>a:hover, .nav-list__drop>li>a:hover, .nav-list__drop>li>a:hover>i{
    color: #6db33f;
}
.nav-list>li:hover>.nav-list__drop{
    display: block;
}
.nav-list__drop{
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 0;
    padding: 37px 30px;
    height: auto;
    box-sizing: border-box;
    width: 234px;
    box-shadow:0 5px 30px 0 rgba(108,135,135,.5);
    border-radius: 7px;
    display: none;
}
.nav-list__drop>li{
    font-weight: 400;
}
.nav-list__drop>li:not(:last-child){
    margin-bottom: 10px;
}
.nav-list--view-all{
    color: #086dc3;
}
.nav-list--dev-tools{
    text-transform: uppercase;
    font-size: .85rem;
    margin-top: 24px;
}
.fa-arrow-up-right-from-square{
    font-size: 13px;
    margin-left: 3px;
}
.nav_burger-menu{
    padding: 10px;
    display: none;
}
.nav_burger-menu:hover{
    cursor: pointer;
}
.nav_burger-menu>div{
    width: 19px;
    height: 3px;
    background: #191e1e;
    margin: 0 0 3px;
    transition: .2s;
}
.nav_burger-menu:hover>div{
    background: #6db33f;
}
main{
    padding-top: 80px;
}
.main__info{
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
}
.main__info>h1{
    font-size: 3.75rem;
    line-height: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-weight: 600;
}
.main__info>p{
    font-size: 1.5rem;
    line-height: 1.7em;
    color: #333;
    padding-right: 125px;
}
.projects-section{
    background-color: #ebf2f2;
    padding: 50px 0;
}
.projects-section>div{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.projects-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 916px;
}
.project-list__item{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    border: 1px solid #d9e9e9;
    border-radius: 5px;
    background-color: #fff;
    width: 48.5%;
    padding: 40px 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
    transition: .2s;
    cursor: pointer;
}
.project-list__item:hover{
    position: relative;
    top: -5px;
    box-shadow:0 10px 20px 0 rgba(108,135,135,.2)
}
.project-list__img{
    max-width: 18.5%;
}
.project-list__img>img{
    height: 60px;
    max-width: 100%;
}
.project-list__description{
    width: 76.5%;
}
.project-list__description>p{
    line-height: 1.7em;
    margin: 12px 0;
}

@media (max-width: 960px){
    .nav-list>li:not(:first-child) {
        padding: 26px 12px;
    }
    .nav-list>li:first-child {
        padding: 26px 20px 22px 5px;
    }
}
@media (max-width: 900px){
    nav{
        padding: 5px 20px;
    }
    .nav-list{
        display: none;
    }
    .nav_burger-menu{
        display: block;
    }
    .spring-logo>img{
        height: 30px;
        max-width: 250px;
    }
    .main__info>h1 {
        font-size: 3.25rem;
    }
    .main__info>p{
        padding-right: 0;
        font-size: 1.25rem;
    }
}
@media (max-width: 800px){
    .project-list__item{
        width: 100%;
    }
}